/* ---------------------------------------------------------------- */
/* Header                   
/* ---------------------------------------------------------------- */
.site-header-menu {
    display: flex;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 555;
    top:0;
    background: $color_white;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color_grey;
    .mobile-full-name {
        display: none;
        font-size: 14px;
        padding: 10px 15px;
        text-align: center;
        border-bottom: 1px solid $color_grey;
        span {
            font-size: 14px;
        }
    }
    .navbar-toggler {
        outline: none;
        border: none;
        border-radius: 0;
        padding: 0;
        box-shadow: none;
        font-size: 0;
        .togler-icon-inner {
            display: block;
            text-align: center;
            span {
                height: 3px;
                margin: 5px 0;
                width: 30px;
                display: block;
                background: $color_black;
                transition: all 0.3s ease;
                &:nth-child(2) {
                    margin-left: auto;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &.active-toggle-btn {
            .togler-icon-inner {
                span {
                    &:nth-child(1) {
                        transform: rotate(-45deg) translate(-5px, 6px);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        transform: rotate(45deg) translate(-5px, -6px);
                    }
                }
            }
        }
    }
    .site-header-menu-item {
        height: 100%;
        text-align: center;
        &:first-child {
            flex-basis: 60px;
            line-height: 60px;
        }
    }
    .profile-details-dropdown {
        padding-left: 20px;
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        justify-content: space-between;
        border-left: 1px solid $color_grey;
        .dropdown {
            flex: 1;
            padding-left: 20px;
            height: 60px;       
            .dropdown-menu {
                right: 30px !important;
                min-width: 200px;
                width: 100%;
                padding: 0;
                border: 1px solid $color_grey;
                li {
                    &:last-child {
                        a {
                            border-bottom: 0;
                        }
                    }
                }
                .dropdown-item {
                    font-size: 14px;
                    padding: 10px 15px;
                    text-align: center;
                    border-bottom: 1px solid $color_grey;
                    &:hover {
                        background: $color_grey;
                    }
                }
            }     
            .dropdown-toggle {
                display: flex;
                height: 100%;
                align-items: center;
                font-size: 14px;
                &.show {
                    &::after {
                       content: "\f077";
                    }
                }
                span {
                    padding-right: 20px;
                    color: $body_text;
                }
                &::after {
                    content: "\f078";
                    display: inline-block;
                    border: none;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 600;
                    padding-left: 20px;
                    padding-right: 20px;
                    vertical-align: 0;
                    height: 100%;
                    color: $color_black;
                    line-height: 60px;
                    border-left: 1px solid $color_grey;
                }
            }
        }
        img {
            border-radius: 50%;
            border: 1px solid $color_grey;
        }
    }
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query ( max-width : 992px ) 
/* ---------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
    .site-header-menu {
        height: 60px;
        .mobile-full-name {
            display: block;
        }
        .site-header-menu-item {
            &:first-child {
                flex-basis: 60px;
                line-height: 60px;
            }
        }
        .profile-details-dropdown {
            padding-left: 15px;
            img {
                max-width: 40px;
                max-height: 40px;
                object-fit: cover;
                object-position: center;
            } 
            .dropdown {
                height: 60px;  
                padding-left: 15px;  
                .dropdown-toggle {
                    &:after {
                        line-height: 60px;
                        padding-right: 20px;
                        padding-left: 20px;
                    }
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}
