/* ---------------------------------------------------------------- */
/* Header                   
/* ---------------------------------------------------------------- */
.panel-wrapper {
    margin-bottom: 80px;
    &.panel-center {
        margin: 0 auto 70px auto;
    }
    &.panel-full-width {
        .form-wrapper {
            max-width: initial;
            margin: 0 auto 20px auto;
        }
    }
    .form-wrapper {
        max-width: 800px;
        margin: 0 auto 70px auto;
    }
}
.form-text-box-item {
    margin-bottom: 30px;
    p {
        margin-bottom: 5px;
    }
    h5 {
        font-size: 1.4rem;
        font-weight: 400;
    }
}
.details-view-edit-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        font-size: 14px;
        display: inline-block;
        color: $color_black;
    }
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query ( max-width : 992px ) 
/* ---------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
    .panel-wrapper {
        margin-bottom: 51px;
        &.panel-center {
            margin: 24px auto 70px auto;
        }
    }
    .mt-resp-top {
        margin-top: 24px;
    }
}