/* ---------------------------------------------------------------- */
/* Sidebar                   
/* ---------------------------------------------------------------- */
.left-sidebar {
    top: 0;
    position: fixed;
    width: 276px;
    left: 60px;
    height: 100%;
    z-index: 444;
    background: $color_white;
    transition: all 0.5s ease-in-out;
    transform: translateX(-100%);
    .sidebar-menu-container {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        border-right: 1px solid $color_grey;
        nav {
            flex: 1;
            ul {
                li {
                    text-align: center;
                    display: flex;
                    line-height: 60px;
                    align-items: center;
                    height: 60px;
                    position: relative;
                    justify-content: space-between;
                    border-bottom: 1px solid $color_grey;
                    transition: all 0.5s ease;
                    &.active, &:hover {
                        background: $color_light_grey;
                    }
                    &:first-child {
                        border-top: 1px solid $color_grey;
                    }
                    > a {
                       text-align: center;
                       flex: 1;
                       color: $color_black;
                    }
                    span {
                        height: 60px;
                        flex-basis: 60px;
                        line-height: 60px;
                        color: $color_black;
                        border-left: 1px solid $color_grey;
                       
                        a {
                            display: block;
                            color: $color_black;
                        }
                    }
                    &:hover {
                        .tooltip-sidebar-link {
                           opacity: 1;
                           visibility: visible;
                       }
                   }
                    .tooltip-sidebar-link {
                        position: absolute;
                        right: -20px;
                        top: 50%;
                        padding: 7px 15px;
                        display: block;
                        font-size: 14px;
                        z-index: 4;
                        background: $color_white;
                        transform: translateY(-50%) translateX(100%);
                        border: 1px solid $color_grey;
                        opacity: 0;
                        transition: all 0.5s ease;
                        visibility: hidden;
                        &:after {
                            content: "";
                            position: absolute;
                            left: -40px;
                            top: 50%;
                            transform: translateY(-50%);
                            border: 20px solid transparent;
                            border-right-color: $color_white;
                        }
                    }
                }
            }
        }
    }
    &.active-sidebar {
        left: 0;
        transform: none;
        visibility: visible;
        opacity: 1;
        .sidebar-menu-container {
            nav {
                ul {
                    li {
                        .tooltip-sidebar-link {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query ( max-width : 992px ) 
/* ---------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
    .left-sidebar {
        top: 0;
        left: 60px;
        .sidebar-menu-container {
            nav {
                ul {
                    li {
                        span {
                            flex-basis: 60px;
                        }
                    }
                }
            }
        }
    }
}