// Fonts
$font_family          : 'Poppins', sans-serif;

// Colors
$color_primary        : #fe9900;

$body_text            : #888;
$color_white          : #fff;
$color_black          : #000;
$color_grey           : #eee;
$color_light_grey     : #f5f5f5;
$color_dark_grey      : #ededed;
$color_edit_blue      : #1a7cd1;
$color_alert_bg       : #4caf50;
$color_alert_text     : #2c612d;

// Transition
$trs_ease_0_25         : all 0.25s ease;
